body{
    background-color: black;
    font-family: 'Marck Script',cursive;
    margin: 96px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 23px;
}
p{
    font-size: 10px;
    color: rgb(255, 255, 255);
   
}

