body{
    background-color: black;
    margin: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    font-size: 6px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin:  10px;
   
}
