body{
    background-color: black;
    margin: 130px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    font-size: 6px;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin:  8px;
   
}
audio {
    width: 85px;
}
