body{
    background: url(image/iuy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 1900px;
    height: 70px;
    background: linear-gradient(red, yellow);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 65px;
    position: relative;
    right: 120px;
    cursor: pointer;
}

.wel:hover {
    background: linear-gradient(red, orange);
}

.wel {
    background: linear-gradient(yellow, red);
    border-radius: 15px;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 0px;
    font-size: 17px;
    color: white;
    font-family: 'Rubik Gemstones';
    cursor: pointer;
    position: relative;
    right: 450px;
}

.header .button {
    width: 95px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    background: linear-gradient(yellow, red);
    cursor: pointer;
}

.header .button:hover {
    background: linear-gradient(red, yellow);
}

a {
    text-decoration: none;
}

.link {
    font-size: 20px;
    display: flex;
    gap: 100px;
    list-style: none;
}

.cards1 {
    width: 250px;
    height: 400px;
    background: url(image/фотошоп00002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards2 {
    width: 250px;
    height: 400px;
    background: url(image/фотошоп00002copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards3 {
    width: 250px;
    height: 400px;
    background: url(image//фотошоп00002copy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 150px;
}

.wer:hover {
    background: linear-gradient(rgb(115, 46, 0), orange);
}

.wer {
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background: linear-gradient(orange, rgb(115, 46, 0));
    border: 0px;
    cursor: pointer;
}

.link .button {
    font-family: 'Rubik Vinyl';
}
