.div .b {
    color: red;
}
.div {
    background: aqua;
    width: 2500px;
    height: 2000px;
    flex-wrap: wrap;
}
.div .p3 {
    border: red;
    border-width: 6px;
    border-style:ridge;
}
.div3 .p {
    text-align: center;
    font-size: 30px;
}
.div3 .img .img1 {
    width: 300px;
}
.div3 > a{
    font-size: 50px;
}
.div .p4 {
    font-size: 20px;
}


.div{
    
    flex-wrap: wrap;
}
.stop>a{
    font-size: 25px;
}
.stop > img{
    width: 290px;
    display: flex;
}



