.div .b {
    color: red;
}
.div {
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}
.div .p3 {
    border: red;
    border-width: 6px;
    border-style:ridge;
}
.div3 .p {
    
    font-size: 30px;
}
.div3 .img .img1 {
    width: 300px;
}
.div3 > a{
    font-size: 30px;
}
.div .p4 {
    font-size: 20px;
}


.div{
    
    
}
.stop>a{
    font-size: 25px;
}
.stop {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.div3{
    
    
}

body{
    background: aqua;
}

@media screen and (max-width: 350px) and (max-height:700px) {
   .stop>h1{
    font-size: 20px;
    }
   
    .stop>a{
        font-size: 20px;
    }

}
@media screen and (max-width: 550px) and (max-height:700px) and (min-width:360) and (min-height:700px) {
    .stop>h1{
     font-size: 30px;
     }
    
     .stop>a{
         font-size: 20px;
     }
 
 }
