body{
    background-color: black;
    font-family: 'Marck Script',cursive;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.centr{
   
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 0px;
   
}
.button {
    align-items: center;
    justify-content: center;
    padding: 1px 1px;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: background .8s linear,
        color .9s linear;
    margin: 20px;
    


}
.button1 {
    align-items: center;
    justify-content: center;
    padding: 1px 1px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: background .8s linear,
        color .9s linear;
    margin: 20px;
    


}
