body{
    background-color: black;
    font-family: 'Marck Script', sans-serif;
    text-align: center;
    
   
}

.cis{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
}
.button {
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    transition: background .8s linear,
        color .9s linear;
    


}