body{
    background-color: black;
    font-family: 'Marck Script', sans-serif;
    text-align: center;
    
   
}

.cis{
    color: white;
    position: absolute;
    left: 56%;
    top: 40%;
    transform: translate(-50%,50%);
}
